@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  color-scheme: dark only;

  width: 100%;
  min-height: 100vh;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #E2E8F0;

  -webkit-text-fill-color: #E2E8F0;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom:hover {
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}